@charset "utf-8";

/* header */

header {
  text-align: center;
}

.hero {
  width: 60%;
  display: flex;
  margin: 8px auto;
}

.hero :hover {
  opacity: 0.5;
}

h1 {
  font-weight: normal;
  padding: 4px 0 0;
  margin: 0;
  font-size: 28px;
}

a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  margin: 0 auto;
  color: black;
}

/* main */

main img {
  width: 100%;
  object-fit: cover;
  margin: 0;
}

h2 {
  text-align: center;
  padding: 0;
  margin: 80px 0 48px;
}

.about p {
 margin: 32px 16px;
}

.works {
  margin: 16px;
}

.news p {
  margin: 16px;
  font-size: 16px;
  border-top: 1px solid silver;
  margin: 0 16px;
  padding: 16px 0;
}

.five {
  border-bottom: 1px solid silver;
}

/* form */

label {
  display: block;
  margin: 0 16px;
  text-decoration: none;
}

textarea {
  border: 1px solid silver;
  width: 100%;
  font-size: 32px;
}

form div {
  margin: 16px 4px 0;
}

button {
  /* display: block; */
  /* margin: 0 auto; */
  /* text-align: center; */
  background: black;
  color: white;
  width: 200px;
  height: 54px;
  margin: 32px 0;
}

.btn {
  text-align: center;
}

button:hover {
  background: white;
  color: black;
  cursor: pointer;
  border: 1px solid black;
}

/* footer */

footer {
  text-align: center;
  background: black;
  color: white;
  font-size: 10px;
  width: 100%;
  padding: 16px 0;
}

@media (min-width: 600px) {
  .w-i {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 960px;
    margin: 0 auto;
  }
  .pic {
    width: calc((100% - 16px) / 3);
  }
  header {
    max-width: 960px;
    display: flex;
    margin: 80px auto 96px;
  }

  .a-1 {
    padding: 0 0 0 320px;
  }

  a {
    margin: 0 16px;
   
  }

  .about {
    max-width: 960px;
    margin: 0 auto;
  }

  .news {
    max-width: 960px;
    margin: 0 auto;
  }

  form {
    max-width: 960px;
    margin: 0 auto;
  }
}